body {
    background-image: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?crop=entropy&cs=srgb&fm=jpg&ixid=M3w0Njc2NzV8MHwxfGFsbHx8fHx8fHx8fDE2ODgxMDkzMTN8&ixlib=rb-4.0.3&q=85&w=1600");
    background-repeat: no-repeat;
    background-size: cover;
}
